body{
  background: #f5d9d5;
  font-family: "lato";
}

#mainnavbar .navbar-brand{
  color:#EA1C2C;
  font-size: 1.5rem;
  font-weight: 200;
}
#mainnavbar .nav-item{
  color:#fff;
  font-size: 1.5rem; 
  font-weight: 200;
}
h1{
  font-weight: 200;
  font-size: 3.5rem;            
}

h2{
  padding-bottom: 5px;
}
.lead{
  line-height: 2rem;
}
.navbar.scrolled {
  background: rgb(222,199,222);
  transition: background 500ms;
}
h1 span,h2,#mainnavbar .nav-link:hover {
  color: #EA1C2C;
}
.lead{
  color:#f498b8
}