body{
  font-family: "標楷體";
  size: 16px;
}
h1{
  width: 700px;
  text-align: center
}
table{
  width: 700px;
  border-collapse: collapse;
  border-spacing: 0
}
td{
  border: 1px solid #111111;
  padding: 10px ;
}
tr td:first-child{
  font-weight: 15px;
  text-align: right;
  font-style: italic;
width: 35px;

border: none
}
tr:first-child td:nth-child(2) {
  border-radius: 50px 0 0 0;
  background: blue;
  border: 0;
}
td:hover {
  background-color: #2f6db6;
  color: #fff;
}