div{
  font-family: raleway;
  margin: 1.66%;
  font-size: 22px;
  font-weight: 800;
  text-transform: capitalize;
  border-bottom: 2px solid #f1f1f1  ;
  width: 30%;
  padding-bottom: 20px;
}
img{
  float: left;
  width: 30%;
  margin: 1.66%;
 
}